<!-- =======Update Mis Certificaciones ======= -->

<section id="resume " class="resume ">
    <div class="container " data-aos="fade-up ">

        <div class="section-title">
            <h2>Mis Certificaciones </h2>
            
            <p class="fst-italic">
                " Cuando quieres realmente una cosa, todo el Universo conspira para ayudarte a conseguirla".
                <small> - Paulo Coelho</small>
            </p>
            <i  *ngIf="isLogged" class="bi bi-plus-square" (click)="mostrarModal(item, modalNuevoCertificado, 0 )"></i>
          
        </div>


        <div class="row">
            <div class="col-lg-12">
                  
                <div class="resume-item" *ngFor="let item of certificadosList">
                   
                    <h4>{{item.titulo}}
                        <i  *ngIf="isLogged" class="bi bi-x-square" (click)="mostrarModalEliminar(item, modalCertificadoEliminar, indice )" ></i>
                        <i  *ngIf="isLogged" class="bi bi-pencil-square" (click)="mostrarModal(item, modalCertificadoUpdate, indice )"></i>

                    </h4>
                    <h5>Finalizado {{item.finalizo}}</h5>
                    <p>{{item.detalle}}</p>
                    <p >
                        <ul>
                            <li><a href="{{item.url_1}}" target="_blank">{{item.detalle_1}}</a></li>

                            <li><a href="{{item.url_2}}" target="_blank">{{item.detalle_2}}</a></li>
                        </ul>
                   
                        





                <!-- Modal para modificar -->
                <ng-template #modalCertificadoUpdate let-modal>
                    <form  (ngSubmit)="save(item)">

                        <div class="modal-content">
                
                        <div class="modal-header">
                            <h5 class="modal-title">{{item.titulo}}</h5>
                                
                            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        
                                <div  class="resume-item">
                                    <small>Titulo</small>
                                    <input type="text" class="form-control sinborde" [(ngModel)]="item.titulo" name="titulo">
                                </div>   
                                <p>   
                                <div class="resume-item">
                                    <small> Año que finalizo</small>
                                    <input type="text" class="form-control sinborde" [(ngModel)]="item.finalizo" name="finalizo">
                                </div>                 
                                <p>        
                                <div class="resume-item">
                                    <small>Detalle</small>
                                    <input type="text" class="form-control sinborde" [(ngModel)]="item.detalle" name="detalle">
                                </div>
                                <p>
                                <div class="resume-item">
                                    <small>Un comentario y un link</small>
                                    <input type="text" class="form-control sinborde" [(ngModel)]="item.detalle_1" name="detalle_1">
                                    <input type="url" class="form-control sinborde" [(ngModel)]="item.url_1" name="url_1">
                                
                                </div>
                                <div class="resume-item">
                                    <small>Un comentario y un link</small>
                                    <input type="tex" class="form-control sinborde" [(ngModel)]="item.detalle_2" name="detalle_2">
                                    <input type="url" class="form-control sinborde" [(ngModel)]="item.url_2" name="url_2">
                                
                                </div>
                                <p>
                                    <div class="resume-item">
                                        <small>Seleccione un logo</small>
                                        <p>
                                        <div>
                                            <img src="assets/img/1.png ">
                                            <img src="assets/img/1.png ">
                                            <img src="assets/img/1.png ">
                                                    
                                        </div>
                                    </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-secondary">Guardar los cambios</button>
                        </div>

                    </div>
                    </form>
                </ng-template>

                <!-- Modal para confirmar Eliminar -->
                <ng-template #modalCertificadoEliminar let-modal>
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{item.titulo}}</h5>
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Quieres eliminarlo? 
                       
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary" (click)="delete( item )">Eliminar</button> </div>
                    </div>
                </ng-template>





                </div>
            </div>
        </div>
      
     </div>
</section>
<!-- End Mis Certificaciones -->












<!-- Modal para nuevo certificado -->
<ng-template #modalNuevoCertificado let-modal>
    <div class="modal-content">
   
        <div class="modal-header">
            <h5 class="modal-title">Agregar un nuevo certificado</h5>
            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
                <div  class="resume-item">
                    <small>Titulo</small>
                    <input type="text" class="form-control sinborde" 
                    placeholder="Ingrese un Titulo para el nuevo proyecto" 
                     >
                </div>   
                <p>   
                <div class="resume-item">
                    <small> Año que finalizo</small>
                    <input type="number" class="form-control sinborde" 
                    value = "2023"
                    >
                </div>                 
                <p>        
                <div class="resume-item">
                    <small>Detalle</small>
                    <input type="text" class="form-control sinborde" 
                    placeholder="Ingrese un detalle para el nuevo proyecto" 
                    >
                </div>
                <p>
                   <div class="resume-item">
                        <small>Un comentario y un link</small>
                        <input type="tex" class="form-control sinborde" placeholder="Ingrese comentario">
                        <input type="url" class="form-control sinborde" placeholder="Ingrese URL">
                       
                    </div>
             </div>
        
        <div class="modal-footer">
          
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Si')">Guardar nuevo proyecto</button>
        </div>

    </div>
</ng-template>