<!-- ======= Mis Certificaciones ======= -->

<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Mis Certificaciones </h2>
            <p class="fst-italic">
                " Cuando quieres realmente una cosa, todo el Universo conspira para ayudarte a conseguirla".
                <small> - Paulo Coelho</small>
            </p>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="resume-title">
                    
                </h4>
                
                <div class="resume-item" *ngFor="let item of certificadosList">
                    <h4>{{item.titulo}}</h4>
                    <h5>{{item.finalizado}}</h5>
                    <p>{{item.detalle}}</p>
                    <p>
                        <ul>
                            <li><a href="{{item.url_1}}" target="_blank">{{item.detalle_1}}</a></li>

                            <li><a href="{{item.url_2}}" target="_blank">{{item.detalle_2}}</a></li>
                        </ul>
                    

                </div>


            </div>
        </div>
    </div>
</section>

<!-- End Mis Certificaciones -->