<!-- ======= Mis Habilidades ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Mis Habilidades</h2>
        </div>

        <div class="row skills-content">
            <div class="section-title">
                <p> {{concepto}} </p>

            </div>



            <div class="col-lg-6">
                <h4>Frond End</h4>

                <div class="progress">
                    <span class="skill">Angular <i class="val">{{valor1}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]=7
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar> 
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">TypeScript <i class="val">{{valor2}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill" >HTML <i class="val">{{valor3}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">{{valor4}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">{{valor5}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Back End</h4>
                <div class="progress">
                    <span class="skill">SpringBoot <i class="val">{{valor6}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Mysql <i class="val">{{valor7}}%</i></span>
                    <div class="progress-bar-wrap">
                    <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Php <i class="val">{{valor8}}%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                            [value]="75" 
                            [striped]="false" 
                            [animated]="true" >
                        </ngb-progressbar>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Mis Habilidades -->





