<!-- ======= Mis Habilidades ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Mis Habilidades</h2>
        </div>

        <div class="row skills-content">
            <div class="section-title">
                <p>Conceptos y herramientas que utilizare : BackEnd, FrondEnd, DevOps, Testing, Seguridad Web ( JWT ), comunicacion efectiva, Api Rest, Scrum, Mvc, Contro de versiones Git, GitHub, Uml, Firebase, Heroku, Heroku Add On, entre otras.
                </p>

            </div>



            <div class="col-lg-6">
                <h4>Frond End</h4>

                <div class="progress">
                    <span class="skill">Angular <i class="val">0%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar> 
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">TypeScript <i class="val">0%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill" >HTML <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">20%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">25%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Back End</h4>
                <div class="progress">
                    <span class="skill">SpringBoot <i class="val">0%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Mysql <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                    <ngb-progressbar  
                        [value]="75" 
                        [striped]="false" 
                        [animated]="true" >
                    </ngb-progressbar>
                    
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Php <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                        <ngb-progressbar  
                            [value]="75" 
                            [striped]="false" 
                            [animated]="true" >
                        </ngb-progressbar>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Mis Habilidades -->





