<!-- ======= Banner ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Denise Agustina Sepulveda Lagonegro</h1>
        <h2>Full Stack Developer Js.</h2>
        <p>
            <p class="fst-italic">
                " La simplicidad llevada al extremo se convierte en elegancia".
                <p>
                    <small> - Jon Franklin</small>
                </p>

    </div>
</section>
<!-- End Banner -->
    
    
    
    
    <!-- ======= Mi Perfil ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Mi Perfil</h2>
                <i class="bi bi-pencil-square" (click)="mostrarModal(item, modalPerfilUpdate )"></i>
            </div>
           
            <div class="row ">

                <div class="col-lg-4 ">
                    <img src="assets/img/f1.jpg " class="img-fluid " alt=" ">
                   
                </div>
                
                <div class="col-lg-8 pt-4 pt-lg-0 content ">
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <ul>
                                <li><i class="bi bi-rounded-right "></i> <strong>Correo:</strong>
                                    <input type="text" id="email" class="sinborde" value={{correo}} maxlength="30">
                                </li>
                                <li><i class="bi bi-rounded-right "></i> <strong>Celular:</strong>
                                    <input type="text" id="celular" class="sinborde" value={{celular}}>
                                </li>
                                <li><i class="bi bi-rounded-right "></i> <strong>Ciudad:</strong>
                                    <input type="text" id="ciudad" class="sinborde" value={{ciudad}}>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 ">
                            <ul>
                                <li><i class="bi bi-rounded-right "></i> <strong>Naciento:</strong>
                                    <input type="txt" id="Edad" class="sinborde" value={{edad}}>
                                </li>
                                <li><i class="bi bi-rounded-right "></i> <strong>Ocupacion:</strong>
                                    <input type="text" id="ocupacion" class="sinborde" value={{ocupacion}}>
                                </li>
                                <li><i class="bi bi-rounded-right "></i> <strong>Tele-trabajo:</strong>
                                    <input type="text" id="disponibilidad" class="sinborde" value={{trabajo}}>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="fst-italic ">
                        "Si piensas que vales lo que sabes, estas muy equivocado. Tus conocimientos de hoy no tienen mucho valor mas alla de un par años. Lo que vales es lo que puedes llegar a aprender, la facilidad con la que te adaptas a los cambios que esta profecion nos
                        regala tan frecuentemente ".
                        <p>
                            <small> - Jon Franklin</small>
                        </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Mi Perfil -->

    <!-- Modal para modificar -->
<ng-template #modalPerfilUpdate let-modal>
    <div class="modal-content">
   
        <div class="modal-header">
            <h5 class="modal-title">Actualizar</h5>
            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        

        </div>
        
        <div class="modal-footer">

            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Si')">Guardar los cambios</button>
        </div>

    </div>
</ng-template>
