 <!-- ======= Mis Certificaciones ======= -->

 <section id="resume " class="resume ">
    <div class="container " data-aos="fade-up ">



        <div class="section-title ">
            <h2>Mis Certificaciones</h2>
            <a href="altaItem.html " class="btn btn-outline-secondary"> Agregar Nuevo Certificado</a>
        </div>

        <div class="row skills-content ">
            <div class="fst-italic">
                " Cuando quieres realmente una cosa, todo el Universo conspira para ayudarte a conseguirla ".
                <small> - Paulo Coelho</small>

            </div>

        </div>

        <div class="row ">
            <div class="col-lg-12 ">
                <h4 class="resume-title ">
                    
                </h4>
                <div class="resume-item ">
                    <h4>Google Activate</h4>
                    <h5>Finalizado 2022</h5>
                    <p>Desarrollo de APP Movile</p>
                    <p>
                        <ul>
                            <li><a href="assets/anexos/certificado google activate.pdf " target="_blank ">Ver Certificado</a></li>

                            <li><a href="https://learndigital.withgoogle.com/link/1nur091p2ww " target="_blank ">Verifique la autenticidad del certificado - ID DE CERTIFICADO: W2K NTE S8F </a></li>
                        </ul>
                  

                    <i class="btn btn-outline-secondary"> Modificar</i><i class="btn btn-outline-secondary"> Eliminar</i>
                </div>
                <div class="resume-item ">
                    <h4>Plan Argentina Programa</h4>
                    <h5>Finalizado 2021</h5>
                    <p>Primera etapa del plan</p>
                    <p>
                        <ul>
                            <li><a href="assets/anexos/certificado_argentina_programa_2022.pdf " target="_blank ">Ver Certificado</a></li>
                        </ul>
                   
                    <i class="btn btn-outline-secondary"> Modificar</i><i class="btn btn-outline-secondary"> Eliminar</i>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Mis Certificaciones -->

