


<!-- ======= login ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">


        </div>

        <div class="row mt-5">
            <div class="col-lg-5">

                <div class="section-title">
                    <h2>Ingresar</h2>
                </div>


            <form method="post">
                <div class="row">
                    <div class="form-group">
                        <input 
                        type="email" 
                        name="username"
                        [(ngModel)]="form.username"
                        class="form-control" 
                        placeholder="denisagustina@hotmail.com" 
                        required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="form-group">
                        <input 
                        type="password" 
                        name="password"
                        [(ngModel)]="form.password"
                        class="form-control" 
                        placeholder="yoprogramo" 
                        required>
                    </div>
                </div>

                <div class="my-3">
                    <button type="submit" (click)="Entrar()" class="btn btn-outline-secondary">Entrar</button>
                </div>
            </form>

            </div>




            <div class="col-lg-7">
                <div class="info">
                    <div class="address">
                        <i class="bi-list-ol"></i>
                        <h4>Se envia al Back-End las credenciales:</h4>
                        <p> "usuario":"nombre" ; "clave":"MD5 ( clave )"</p>
                    </div>

                    <div class="email">
                        <i class="bi-list-ol"></i>
                        <h4>Credenciales No validas - Mostrar error</h4>
                        <p> "error":"true" ; "token":""</p>
                    </div>

                    <div class="phone">
                        <i class="bi-list-ol"></i>
                        <h4>Credenciales validas </h4>
                        <p> "error":"false" ; "token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9" ; "datos":" JSON "</p>

                        <p>token guardado localmente en LocalStorage</p>
                        <p>Hay token en LocalStorage - mostar iconos para altas o modificaciones</p>
                        <p>Salir --> borra token del LocalStorage luego Se renderiza la pagina</p>
                    </div>

                    <div class="email">
                        <i class="bi-list-ol"></i>
                        <h4>Alta o Modificaciones </h4>
                        <p>Se envia  "datos":"JSON"</p>
                        <p>Retorna  "datos":"JSON"</p>
                        <p>Volver a renderizar la pagina</p>
                    </div>

                </div>

            </div>







        </div>

    </div>
</section>
<!-- End login -->

