 <!-- ======= Mis Habilidades ======= -->
 <section id="skills " class="skills ">
    <div class="container " data-aos="fade-up ">

        <div class="section-title ">
            <h2>Mis Habilidades</h2>
            <i class="bi bi-pencil-square" (click)="mostrarModal(item, modalHabilidadesUpdate )"></i>
        </div>
 
        <div class="row skills-content ">
          
            <div class="section-title ">
                
                <textarea class="sinborde" id="tex" rows="4" cols="80">
                    Conceptos y herramientas que utilizare : BackEnd, FrondEnd, DevOps, Testing, Seguridad Web ( JWT ), comunicacion efectiva, Api Rest, Scrum, Mvc, Contro de versiones Git, GitHub, Uml, Firebase, Heroku, Heroku Add On, entre otras.
                </textarea>
            </div>



            <div class="col-lg-6 ">
                <h4>Frond End</h4>

                <div class="progress ">
                    <span class="skill ">Angular <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor1}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">TypeScript <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor2}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">HTML <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor3}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">CSS <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor4}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">JavaScript <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor5}}></i></span>
                </div>
            </div>

            <div class="col-lg-6 ">
                <h4>Back End</h4>
                <div class="progress ">
                    <span class="skill ">SpringBoot <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor6}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">Mysql <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor7}}></i></span>
                </div>

                <div class="progress ">
                    <span class="skill ">Php <i class="val ">
                        <input type="number" class="form-control sinborde" value={{valor8}}></i></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Mis Habilidades -->




<!-- Modal para modificar -->
<ng-template #modalHabilidadesUpdate let-modal>
    <div class="modal-content">
   
        <div class="modal-header">
            <h5 class="modal-title">Actualizar</h5>
            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        

        </div>
        
        <div class="modal-footer">

            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Si')">Guardar los cambios</button>
        </div>

    </div>
</ng-template>

