  <!-- ======= alta item Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">


        </div>

        <div class="row">
            <div class="col-lg-12">

                <h3 class="resume-title">
                    <input type="text" class="sinborde" placeholder="titulo principal">
                </h3>
                <div class="resume-item pb-0">
                    <h4>
                        <input type="text" class="sinborde" placeholder="titulo secundario">

                    </h4>
                    <p><textarea class="form-control sinborde" rows="4" cols="80">
                    
                        Aca una descripcion completa ...    
                    
                    </textarea></p>
                    <ul>
                        <img src="assets/img/1.png" alt="" class="img-fluid">
                    </ul>


                    <ul>
                        <li> <input type="text" class="sinborde" placeholder="Ingrese un link "></li>

                    </ul>


                    <a href="index_con_token.html" class="btn btn-outline-secondary">Agregar Nuevo Item</a>

                </div>
            </div>
        </div>



    </div>
</section>
<!-- End Contact Section -->
