<!-- =======Update Mis Proyectos ======= -->

<section id="resume " class="resume ">
    <div class="container " data-aos="fade-up ">


        <div class="section-title ">
            <h2>Mis Proyectos</h2>
            <a href="" routerLink="/proyecto" class="btn btn-outline-secondary"> Agregar Nuevo Proyecto</a>
        </div>

        <div class="row skills-content ">
           

        </div>


        <div class="row">
            <div class="col-lg-12">

            <div *ngFor="let item of proyectosList">

                <h3 class="resume-title">{{item.nombre}} </h3>
                <div class="resume-item pb-0">
                    <h4>{{item.comentario}}</h4>
                    <p>{{item.detalle}}</p>
                    <p>
                        <ul>
                            <img src="{{item.logo}}"   alt="" class="img-fluid">
                        </ul>
                        <ul>
                            <li><a href="{{item.url}}"  target="_blank">Detalle del proyecto</a></li>
                        </ul>
                        <p>
                        <i class="btn btn-outline-secondary" routerLink="/proyecto"> Modificar este proyecto</i><i class="btn btn-outline-secondary"> Eliminar el proyecto</i>
                </div>


            
               
                <p><button (click)="mostrarModalConf()">Modal de confirmacion</button></p>
                <ng-template #myModalConf let-modal>
   
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Éxito</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        ¿Quieres confirmar la informacion? (Mira el resultado en consola)
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
                        <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
                      </div>
                    </div>
                   
                  </ng-template>




            </div>
            
            </div>
        </div>


    </div>
</section>
<!-- End Mis Proyectos -->


   

