<!-- =======Update Mis Proyectos ======= -->

<section id="resume " class="resume ">
    <div class="container " data-aos="fade-up ">
        <div class="section-title ">
            <h2>Mis Proyectos</h2>
            <i class="btn btn-outline-secondary" (click)="mostrarModal(item, modalNuevoProyecto )"> Agregar Nuevo Proyecto</i>
        </div>
        <div class="row skills-content "></div>

        <div class="row">
            <div class="col-lg-12">

              <div *ngFor="let item of proyectosList">

                <h3 class="resume-title">{{item.nombre}} </h3>
                <div class="resume-item pb-0">
                    <h4>{{item.comentario}}</h4>
                    <p>{{item.detalle}}</p>
                    <p>
                        <ul>
                            <img src="{{item.logo}}"   alt="" class="img-fluid">
                        </ul>
                        <ul>
                            <li><a href="{{item.url}}"  target="_blank">Detalle del proyecto</a></li>
                        </ul>
                        <p>
                        <i class="btn btn-outline-secondary" (click)="mostrarModal(item, modalProyectoUpdate )"> Modificar este proyecto</i>
                        <i class="btn btn-outline-secondary" (click)="mostrarModalEliminar(item, modalProyectoEliminar )"  > Eliminar el proyecto</i>
                </div>
            
              </div>
            
            </div>
        </div>
    </div>
</section>
<!-- End Mis Proyectos -->


   
<!-- Modal para modificar -->
<ng-template #modalProyectoUpdate let-modal>
    <div class="modal-content">
   
        <div class="modal-header">
            <h5 class="modal-title">Actualizar {{item.nombre}}</h5>
            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
                <div  class="resume-item">
                    <small>Titulo</small>
                    <input type="text" class="form-control sinborde" value={{item.nombre}} >
                </div>   
                <p>   
                <div class="resume-item">
                    <small> Comentario</small>
                    <input type="text" class="form-control sinborde" value={{item.comentario}}>
                </div>                 
                <p>        
                <div class="resume-item">
                    <small>Detalle</small>
                    <input type="text" class="form-control sinborde" value={{item.detalle}}>
                </div>
                <p>
                <div class="resume-item">
                    <small>Link</small>
                    <input type="url" class="form-control sinborde" value={{item.url}}>
                </div>

        </div>
        
        <div class="modal-footer">

            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Si')">Guardar los cambios</button>
        </div>

    </div>
</ng-template>



<!-- Modal para confirmar Eliminar -->
<ng-template #modalProyectoEliminar let-modal>
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Eliminar {{item.nombre}}</h5>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Quieres continuar? 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
    </div>
    </div>
</ng-template>




<!-- Modal para nuevo proyecto -->
<ng-template #modalNuevoProyecto let-modal>
    <div class="modal-content">
   
        <div class="modal-header">
            <h5 class="modal-title">Agrgar un nuevo proyecto</h5>
            <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
                <div  class="resume-item">
                    <small>Titulo</small>
                    <input type="text" class="form-control sinborde" 
                    placeholder="Ingrese un Titulo para el nuevo proyecto" 
                     >
                </div>   
                <p>   
                <div class="resume-item">
                    <small> Comentario</small>
                    <input type="text" class="form-control sinborde" 
                    placeholder="Ingrese un comentario para el nuevo proyecto"
                    >
                </div>                 
                <p>        
                <div class="resume-item">
                    <small>Detalle</small>
                    <input type="text" class="form-control sinborde" 
                    placeholder="Ingrese un detalle para el nuevo proyecto" 
                    >
                </div>
                <p>
                <div class="resume-item">
                    <small>Link</small>
                    <input type="url" class="form-control sinborde"
                    placeholder="Ingrese URL para el nuevo proyecto"
                     >
                </div>

        </div>
        
        <div class="modal-footer">

            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Si')">Guardar nuevo proyecto</button>
        </div>

    </div>
</ng-template>



