<!-- ======= Mis Proyectos ======= -->

<section id="resume " class="resume ">
    <div class="container " data-aos="fade-up ">


        <div class="section-title ">
            <h2>Mis Proyectos</h2>
            <a href="altaItem.html " class="btn btn-outline-secondary"> Agregar Nuevo Proyecto</a>
        </div>

        <div class="row skills-content ">
            <div class="fst-italic">
                " Empieza haciendo lo necesario, después lo posible, y de repente te encontrarás haciendo lo imposible. ".
                <small> - San Francisco de Asís</small>

            </div>

        </div>


        <div class="row ">
            <div class="col-lg-12 ">
                <h3 class="resume-title ">Portafolio </h3>
                <div class="resume-item pb-0 ">
                    <h4>Proyecto Integrador</h4>
                    <p>Aplicación web full stack, que mostrará mis datos personales, habilidades, estudios cursados, experiencia laboral, conocimiento de las tecnologías y espero aprobar</p>
                    <p>
                        <ul>
                            <img src="assets/img/logo.png " alt=" " class="img-fluid ">
                        </ul>
                        <ul>
                            <li><a href="assets/anexos/detalleProyecto.pdf " target="_blank ">Detalle del proyecto</a></li>
                        </ul>
                   
                    <i class="btn btn-outline-secondary"> Modificar</i><i class="btn btn-outline-secondary"> Eliminar</i>
                </div>

                <h3 class="resume-title ">Servidor de libros digitales </h3>
                <div class="resume-item pb-0 ">
                    <h4>Mis Libros</h4>
                    <p>Servidor montado en mi casa, con una pc en desuso. Utilice windows como sistema operativo, Vertrigo como servidor. De lunes a viernes 8 a 12. No es un servidor, debe descanzar. Stacks : Apache - MySQL - PHP</p>
                    <ul>
                        <img src="assets/img/1.png " alt=" " class="img-fluid ">
                    </ul>
                    <ul>
                        <li><a href="http://esto.es.facil.duckdns.com/e28483/libros/archivos.php " target="_blank ">http://esto.es.facil.duckdns.com</a></li>

                    </ul>
                   
                    <i class="btn btn-outline-secondary"> Modificar</i><i class="btn btn-outline-secondary"> Eliminar</i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Mis Proyectos -->


